@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

  .highlight {
    text-shadow: -1px 0 black, 1px 0 black;
  }
}

@layer components {
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  @keyframes octocat-wave {
    0% {
      transform: rotate(0deg);
    }

    33% {
      transform: rotate(-10deg);
    }

    66% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 500px) {
    .github-corner:hover .octo-arm {
      animation: none;
    }

    .github-corner .octo-arm {
      animation: octocat-wave 300ms ease-in-out;
    }
  }
}

@layer utilities {
  @keyframes width {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes expand {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}
